@using WebLinhPhuKienMayTinh.Areas.Admin.Models;
@model CategoryModel
@{
    ViewBag.Title = "Categoryadd";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="grid_10">
    <div class="box round first grid">
        <h2>Thêm danh mục sản phẩm</h2>
        @Html.ValidationSummary(false, "", new { @class = "error" })
        <div class="success">@ViewData["success"]</div>
        <div class="block copyblock">

            @using (Html.BeginForm("Categoryadd", "Category", FormMethod.Post))//(action,controller)
            {

                <table class="form">
                    <tr>
                        <td>
                            @Html.TextBoxFor(model=>model.CatName, new { @class = "medium", placeholder = "Làm ơn thêm danh mục sản phẩm..." })

                        </td>
                    </tr>
                    <tr>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" name="submit" Value="Lưu" />
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>



