table.form select {
    width: 55%
}

.error {
    color: red;
}

.success {
    color: green;
}

.box.first {
    min-height: 547px;
}

.box {
    background: #fff;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
    margin-left: -8px;
}
.new_label
{
    margin-left:2%;
}
.new_input-form {
    float: left;
    margin-right: 1%;
    margin-left: 1.2%;
    margin-bottom: 1.2%;
}
.new_label {
    margin-left: 2%;
}

.new_submit {
    margin-left: 2.5%;
}

.input-form {
    width: 200px;
}

.new_input-form {
    float: left;
    margin-right: 1%;
    margin-left: 1.2%;
    margin-bottom: 1.2%;
}
#txtImage
{
width:90%;
float:left;
}
#sp
{
    max-width:100%;
}
.news_submit
{
    margin-left:18%;
}